.button {
    background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  };

  .boxes{
    content: "";
        display: table;
        clear: both;
  }

  .left-div{
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
  }

  .column1 {
    background-color: #ffffff;
  }
  .column2 {
    background-color: #a0e9ed;
    width: 43%;
  }
  .column3 {
    background-color: #f497f1;
  }